<div class="bg-light p-5 rounded-lg sm-5 col-md-8 jumbotron">
    <h1 class="display-5">Hey you! Welcome to Vintedge.</h1>
        <hr class="my-4">
            <p class="info-font">This is a BRAND NEW marketplace for all those lush second hand homewares you find and want to sell, <br><br> or for you to just enjoy browsing through the beautiful listings finding your new favourite home gems. Enjoy.</p><br>
            <p class="info-font">Love, <br> Vintedge</p>

    <%= link_to 'Create new listing', new_listing_path, class: "btn btn-secondary btn-sm p-2" %> | 
    <%= link_to 'See all listings', root_path, class: "btn btn-secondary btn-sm p-2" %> 
</div>
