<div class="bg-light p-5 rounded-lg sm-5 col-md-8 jumbotron">
    <h1 class="display-5 d-flex justify-content-center">My Listings</h1>
    <hr class="my-4">
    <p class="info-font"></p>
    <p class="info-font">Love, <br> Vintedge</p>
    
    <%= link_to 'Create new listing', new_listing_path, class: "btn btn-secondary btn-sm p-2" %> | 
    <%= link_to 'See all listings', root_path, class: "btn btn-secondary btn-sm p-2" %> 
</div>