/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

 .navbar{
   font-family: 'Arial', sans-serif; 
   font-weight: 50;
   font-size: 15px;
   
}

 .search-btn{
   font-family: 'Arial', sans-serif; 
   font-weight: 50;
   font-size: 14px;
   
}

.card-img-top{
   width: 100%;
   height: 40vh;
   object-fit: cover;
}

.listing-image{
   width: 100%;
   height: 100%;
}

.info-font{
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
   font-weight: 100;
   font-size: 18px;
}

.jumbotron{
   margin: auto;
   margin-top: 15%;
}

.listingtron{
   margin:auto;
   margin-top: 10%;
}